#content { overflow:auto; margin:50px;}
.center_content{margin:0 auto;width:720px;}
.head_content{
	height:40px;
}
.txt{
	width:53px;
}
.t{
	border-top:1px solid #CCC; border-collapse:collapse; 
	border-spacing:20px;
	width:720px;height:400px;
	margin:1px 0 20px 0;
}
.t tr{border-bottom: 1px solid #CCC;}
.t th{width:20%;background-color:#EEE;}
.rb{
	border-left:0;
	border-right:0;
}
.center{margin:10px auto;width:250px; }
