#main_con table{
	border-collapse: collapse;
	margin:0 auto;
	width:630px;
	font-size: 12pt;
	margin-top:20px;
}
#main_con table th{
	text-align: center;
	height:30px;
}
#pstitle{
	margin-left:5px;
	width:250px;

}
.pstable{
	width:100px;
}
#title{
	width:90px;
}
#pstext{
	overflow: auto;
	margin-top:5px;
}
#ps1_1{
	float: right;
	margin:10px 20px 0 0;
	width:50px;
	height:30px;
}