#main_con table{
	border-collapse: collapse;
	margin:0 auto;
	width:620px;
}
#main_con table th {
	text-align: center;
}
#main_con table.table2{
	margin-top:60px;
	width:500px;
}
#pass{
	width:360px;
}