#main_con table{
	border-collapse: collapse;
	margin:0 auto;
	width:630px;
}
#main_con table.table1 th,table.table2 th, table.table3 th{
	font-size:11pt;
	height:27px;
	width:130px;
}
#main_con table th {
	text-align: center;
}
#select{
	margin:60px 30px 10px 0;
	font-size:11pt;
}
.select1{
	margin-right:7px;
}
#pass{
	width:180px;
	height:18px;
	margin-right:5px;
}
#btn{
	margin-top:30px;
	float:right;
	margin-right:25px;
}
.btn1{
	width:55px;
	height:26px;
}
#main_con{
	margin-left:230px;
	text-align: right;
}
#main_con table.table3{
	margin-top:60px;
}
